<h2>Edit Post</h2>
<form method="POST">
    {% csrf_token %} <!--learn it from internet-->
    <input type="text" name="title" value="{{ post.title }}" required><br> <!--post.title-->
    <textarea name="summary" required>{{ post.summary }}</textarea><br> <!--required yani nemitoonne khali bashe-->
    <textarea name="content" required>{{ post.content }}</textarea><br> <!--required yani nemitoonne khali bashe-->
    <button type="submit">Save</button> <!--save button-->
</form>

<a href="{% url 'profile' %}">Back to Profile</a>
